header {
  width: 100%;
  height: 10vh;
  background-color: dimgrey;
  display: flex;
  align-content: center;
  color: white;
  padding: 15px;
}

.company {
  padding: 10px;
}

.anchors {
  padding-left: 70%;
  color: white;
  margin: 35px;
}

.anchors a {
  margin-left: 50px;
  text-decoration: none;
  color: white;
  justify-content: space-between;
}

section {
  width: 100%;
  height: 50vh;
  padding: 15px;
  background-color: black;
}

section h1 {
  text-align: center;
  padding: 150px;
  color: yellow;
  font-size: 60px
}

main {
  width: 100%;
  height: 150vh;
  background-color: lemonchiffon;
}

main .firstbox {
  float: left;
  background: lightseagreen;
  width: 50px;
  height: 100px;
  margin: 20px;
  padding: 150px;
  border-radius: 20%;
}

main .secondbox {
  margin: 20px;
  padding: 150px;
  float: right;
  background: lightseagreen;
  width: 50px;
  height: 100px;
  border-radius: 20%;
}

main .thirdbox {
  margin: 20px;
  margin-right: 300px;
  float: right;
  background: lightseagreen;
  width: 50px;
  height: 100px;
  padding: 150px;
  border-radius: 20%;
}

main .fourthbox {
  margin: 30px;
  margin-left: 75px;
  background: darkorange;
  width: 500px;
  height: 50px;
  float: left;
  padding: 125px;
}

main .fifthbox {
  margin: 30px;
  margin-right: 75px;
  background: darkorange;
  width: 500px;
  height: 50px;
  float: right;
  padding: 125px;
}

main .words {
  margin: 30px;
  margin-left: 250px;
  width: 200px;
  height: 50px;
  float: left;
  padding: 75px;
}

main .picture {
  margin: 30px;
  margin-right: 250px;
  width: 200px;
  height: 200px;
  float: right;
  padding: 75px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  width: 100%;
  height: 15vh;
  background-color: black;
}